/********************************
Bootstrap Variables Override
**********************************/
:root {
    /* Replace your primary color from your UI Kit */
    --bs-primary: #3D8BFD;

    /* Replace your secondary color from your UI Kit  */
    --secondary-color: #007DFF;

    /* Replace the main body font from your UI Kit */
    --bs-font-sans-serif: 'Inter', verdana, sans-serif;

    /* Optional: Replace gradient from your UI Kit */
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

/********************************
Global Styles and UI Components
**********************************/
.navbar {

    /* Optional: Stretch the navbar across the full width */
    width: 100%;

    /* Optional: Add inner spacing to the navbar */
    padding: 1rem;
}

footer {
    /* Change footer background color */
    background-color: var(--bs-white);
    /* Optional: Change footer text color to white using variable */
    color: var(--bs-dark);
    /* Optional: Center footer elements */
    text-align: center;
}

footer .footer-social {
    /* Optional: Change size of footer icon */
    width:24px;
    margin:.5rem
}

.btn-primary {
    /* Optional: Change primary button background color to primary color */
    background-color: var(--bs-primary);
    /* Optional: Remove primary button outline */
    border: none;
}

.btn-primary:hover {
    /* Optional: Change primary button hover state background and text color  */
    background-color: var(--secondary-color);
    color: var(--bs-dark);
}

/********************************
Typography
**********************************/
h1,
h2,
h3,
h4,
h5,
h6 {
    /* Optional: Add letter spacing to all headings */
    letter-spacing: 0.0rem;
    /* Optional: Adjust font-weight to all headings */
    font-weight: 800;
}

h2 {
    /* Optional: Adjust font-size of heading 2 */
    font-size: 2rem;
}

.display-1 {
    /* Optional: Customizes display-1 style based on my Figma UI kit */
    font-weight: 800;
    font-size: 4.5rem;
    line-height: 100%;
    letter-spacing: -0.2rem;
}

.display-2 {
    /* Optional: Customizes display-2 style based on my Figma UI kit */
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 100%;
    letter-spacing: -0.2rem;
}

.kicker {
    /* Optional: Establish new custom text style class called "kicker" */
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.25rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    /* Optional: Customize responsive style for display-1 on small devices and larger */
    .display-1 {
        font-size: 4rem;
    }
}

/********************************
Page-Specific
**********************************/
/* PAGE: Home */
.hero {
    /* Add a background image for the hero section */
    background-image: url("/images/Outer\ Space.png");

    /* Adjust image size to cover the entire section */
    background-size: cover;

    /* Center the background image */
    background-position: center;

    /* Optional: Color text white */
    color: var(--bs-white);

    /* Optional: Add a full-height hero section */
    height: 75vh;
    /* Optional: Add necessary props to center the text in the middle of the hero */
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-me {
    /* Optional: Add a background image for the hero section */
    background-color: url(../images/bg-1.png);

    /* Optional: Make the image cover the entire section */
    background-size: cover;

    /* Optional: Color text white */
    color: var(--bs-white);
}

#projects a {
    /* Optional: Remove underline on project card links */
    text-decoration: none;
}